.contact-container{
    height: 80vh;
    position: relative;
}
.contact-container .top{
    height: 70%;
    background-color: #705edc;
}
.contact-container .bottom{
    height: 30%;
    background-color: #ececec;
}
.form{
    position: absolute;
    top: 0;
    right: 10px;

    background: #f6f6f6;
    margin: 4% 5%;
    padding: 30px;


    
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-top: 10px;

}
.form .field{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}
.form .field textarea{
    width: 100%;
    height: 100%;
}
.contact-container .field label{
    font-size: 13px;
    color: #626060;
}
.contact-container .field input ,.contact-container .field textarea {
    resize: none;
    background-color: transparent;
    padding-top: 5px;
    border: navajowhite;
    border-bottom: 2px solid #626060;
    outline: none;
    width: 100%;
}

.form .submit button{
    border: none;
    background-color: #705dec;
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    transition: all .2s ease;
}

.form .submit button:hover{
    background-color: #4b3cac;
    transition: all .2s ease-in-out;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 750px){

    .bottom{
        display: none;
    }
    .top{
        height: 100%;
    }
  }