.nav{
    position: fixed;
    background: transparent;
    width: 100%;
    top: 0;
    z-index: 111;
    color: #fff;
    transition: all .7s ease-in-out;

}

.navscroll{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 111;
    box-shadow: 1px 1px 10px 2px #9d9d9d;
    background-color: rgba(255, 255, 255, 1);
    color: #050505;
    transition: all .4s ease-in-out;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    font-size: 1.2vw;
    
}
.navbar .logo{
    height: 100%;
    width: auto;
}
.navbar .logo .logoblack{
    height: 100%;
    transition: all .4s ease-in-out;
}
.navbar .logo .logowhite{
    height: 100%;
    filter: invert(100%);
    transition: all .4s ease-in-out;
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .dropdown ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}
.navbar .dropdown ul li a{
    padding: 0 10px;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
    color: inherit;
    text-decoration: none;
    
}

.navbar .ham-dropdown ul li a:hover{
    color: #705edc;
    transition: all .2s ease;
}
.navbar ul li a:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #f6f6f6;
	transition:all .4s;
}
.nav ul li a:hover:before{
	width: 100%;
}
.navscroll ul li a:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #050505;
	transition:all .4s;
}
.navscroll ul li a:hover:before{
	width: 100%;
}
.navbar .ham-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}
.navbar.ham-dropdown ul{
    padding-left: 0;
}

.navbar .menu .contact button{
    padding: 10px 20px 10px 30px;
    font-size: 1.2vw;
    color: #fff;
    background-color: #705edc;
    border: none;
    border-radius: 60px 10px 10px 10px;
    cursor: pointer;
}
.ham-dropdown ul a{
    text-decoration: none;
    color: inherit;
}
.hamburger{
    display: none;
}
.nav .bar1,.nav .bar2,.nav .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }
.navscroll .bar1,.navscroll .bar2,.navscroll .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 3px 0;
    transition: 0.4s;
}

.claassss{
    display: none;
}
.ham{
    display: none;
}
.navbar .menu .contact button a{
    text-decoration: none;
    color: inherit;
}
.navbar .menu .contact button:hover{
    background-color: #4b3cac;
    transition: all .2s ease-in-out;
}


@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 750px){

    
    .heading p {
        font-size: 9vw;
    }
    .heading span {
        color: #7d7d7d;
        font-size: 3vw;
    }
    .menu{
        display: none !important;
    }
    .logo{
        height: 87%;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
    }
    .ham-dropdown{
    
        position:fixed;
        top: 0;
        right: 0;
        background-color: rgba(11, 9, 9, 0.9);
        color: #f6f6f6;
        padding: 90px 65px;
        width: 100vw;
        z-index: 8;
       
    }
    .ham-dropdown ul{
        list-style: none;
        display: flex;
        height: 100vh;
        flex-direction: column;
        font-size: 20px;
        padding-top: 30px;
        gap: 30px;
        padding-left: 0;
        transition: all .3s ease;       
    }
    .ham-dropdown ul li a{
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        align-items: center;
    }
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -5px) rotate(45deg);
      }

      .ham{
        display: block;
      }
      .education-container {
        
        margin: 0 25px;
    }
    .intro .heading1 h1 {
        font-size: 10vw;
    }
    .intro{
        padding: 10px;
    }
    .navbar .menu .contact button , .about-main .download-cv button{
        font-size: 2.3vh;
    }
    



  }