.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.about .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.about-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    flex-wrap: wrap;
}
.about-main .pic , .about-main .about-para{
    width: 40%;
}
.about .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-para{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-main .about-para p{
    padding: 10px 0;
}
.about-main .about-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap ;
}
.about-main .about-boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    padding: 5px;
}
.about-main .about-boxes .box span:first-of-type{
    font-size: 2vw;
    font-weight: 500;
}

.about-main .download-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.about-main .download-cv button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px 10px 30px;
    font-size: 1.2vw;
    color: #fff;
    background-color: #705edc;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: all .2s ease;
}
.about-main .download-cv button:hover{
    background-color: #4b3cac;
    transition: all .2s ease-in-out;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 750px){
    .about-main .pic , .about-main .about-para{
        width: 100%;
    }
    .about-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
    }
    .about-main .about-boxes .box span:first-of-type {
        font-size: 5vw;
        font-weight: 500;
    }  
}