@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container{
    max-width: 1300px;
    margin: auto;
}
.dc-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    padding: 30px 0;
    
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px ;
}
.heading p{
    font-size: 4vw;

}
.heading span{
    color: #7d7d7d;
    font-size: 1.3vw;
}


/* ----------------------------------------Navbar------------------------------- */




.nav{
    position: fixed;
    background: transparent;
    width: 100%;
    top: 0;
    z-index: 111;
    color: #fff;
    transition: all .7s ease-in-out;

}

.navscroll{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 111;
    box-shadow: 1px 1px 10px 2px #9d9d9d;
    background-color: rgba(255, 255, 255, 1);
    color: #050505;
    transition: all .4s ease-in-out;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    font-size: 1.2vw;
    
}
.navbar .logo{
    height: 100%;
    width: auto;
}
.navbar .logo .logoblack{
    height: 100%;
    transition: all .4s ease-in-out;
}
.navbar .logo .logowhite{
    height: 100%;
    filter: invert(100%);
    transition: all .4s ease-in-out;
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .dropdown ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}
.navbar .dropdown ul li{
    padding: 0 10px;
    cursor: pointer;
    transition: all .2s ease;
    
}
.navbar .dropdown ul li:hover{
    color: #705edc;
    transition: all .2s ease;
}
.navbar .ham-dropdown ul li:hover{
    color: #705edc;
    transition: all .2s ease;
}
.navbar .ham-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 60px;
}

.navbar .menu .contact button{
    padding: 10px 20px 10px 30px;
    font-size: 1.2vw;
    color: #fff;
    background-color: #705edc;
    border: none;
    border-radius: 60px 10px 10px 10px;
    cursor: pointer;
}
.hamburger{
    display: none;
}
.nav .bar1,.nav .bar2,.nav .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }
.navscroll .bar1,.navscroll .bar2,.navscroll .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 3px 0;
    transition: 0.4s;
}

.claassss{
    display: none;
}
.ham{
    display: none;
}

/* ------------------------------------Banner-------------------------------------- */




.section1{
    background-image: url(./public/images/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f6f6;
}
.section1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    /* z-index: 2; */
}
.banner{
    padding: 100px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: relative;
    z-index: 3;
    font-size: 2vw;

}

.intro{

    padding: 50px;
    
}
.intro .heading1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .heading1 h1{
    font-size: 6vw;
}
.intro .heading1 p:first-of-type{
    font-size: 4vw;
}




/* ------------------------------------About--------------------------------------- */


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.about .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.about-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    flex-wrap: wrap;
}
.about-main .pic , .about-main .about-para{
    width: 40%;
}
.about .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-para{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-main .about-para p{
    padding: 10px 0;
}
.about-main .about-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap ;
}
.about-main .about-boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    padding: 5px;
}
.about-main .about-boxes .box span:first-of-type{
    font-size: 2vw;
    font-weight: 500;
}

.about-main .download-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.about-main .download-cv button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px 10px 30px;
    font-size: 1.2vw;
    color: #fff;
    background-color: #705edc;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: all .2s ease;
}
.about-main .download-cv button:hover{
    background-color: #4b3cac;
    transition: all .2s ease-in-out;
}



/* ------------------------------------EDUCATION--------------------------------------- */





.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.ed-box{
    box-shadow: 1px 1px 10px 2px #9d9d9d;
    border-radius: 12px;
    color: #202020;
    margin: 20px 0  ;
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    /* align-items: center; */
    padding: 10px 14px;
    transition: all .3s ease-out;
}
.ed-box p , .ed-box h1{
    padding-bottom: 10px;
}
.ed-box:hover{
    background-color: #705edc;
    color: #f6f6f6;
    transition: all .3s ease-in ;
}
.ed-data p , .ed-data h1{
    display: flex;
    align-items: center;
    gap: 10px;
}

















@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 750px){


    .heading p {
        font-size: 9vw;
    }
    .heading span {
        color: #7d7d7d;
        font-size: 3vw;
    }
    .menu{
        display: none !important;
    }
    .logo{
        height: 87%;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
    }
    .ham-dropdown{
    
        position:fixed;
        top: 0;
        right: 0;
        background-color: #202020;
        color: #f6f6f6;
        padding: 90px 65px;
        z-index: 8;
    }
    .ham-dropdown ul{
        list-style: none;
        display: flex;
        height: 100vh;
        flex-direction: column;
        font-size: 20px;
        gap: 20px;
        width: 20vw;
    }
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -5px) rotate(45deg);
      }

      .ham{
        display: block;
      }
      .education-container {
        
        margin: 0 25px;
    }
    .intro .heading1 h1 {
        font-size: 10vw;
    }
    .intro{
        padding: 10px;
    }
    .navbar .menu .contact button , .about-main .download-cv button{
        font-size: 2.3vh;
    }
    .banner{
        padding: 50px 25px;
        font-size: 4vw;
    }
    .intro .heading1 p:first-of-type {
        font-size: 8vw;
    }

    .about-main .pic , .about-main .about-para{
        width: 100%;
    }
    .about-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
    }
    .about-main .about-boxes .box span:first-of-type {
        font-size: 5vw;
        font-weight: 500;
    }
    .skills__container {
        width: 70% !important;
    }

    
}



.skills__container {
    row-gap: 2rem;
    text-align: center;
    width: 50%;
  }
  
  .skills__subtitle {
    margin-bottom: 1rem;
  }
  
  .skills__text {
    margin-bottom: 2rem;
  }
  
  .skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  }
  
  .skills__icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #705edc;
  }
  
  .skills__names {
    display: flex;
    align-items: center;
  }
  
  .skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #705edc;
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
  }
  
  .skills__html {
    width: 95%;
  }
  
  .skills__css {
    width: 85%;
  }
  
  .skills__js {
    width: 65%;
  }
  
  .skills__ux {
    width: 85%;
  }
  
  .skills__img {
    border-radius: .5rem;
  }
  