footer{
    background-color: #703edc;
    color: #fff;
    padding: 30px 0;
}
.footer-cols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-cols ul{
    list-style: none;
}
footer .footer-cols ul a{
    color: inherit;
    text-decoration: none;
    
}
footer .fcolumns ul{
    display: flex;
    flex-direction: row;
    gap: 40%;
    justify-content: center;
    align-items: center;
}
footer .social a{
    height: 10px;
    width: auto;
}
footer .css-i4bv87-MuiSvgIcon-root:hover {
    transform: scale(1.3);
    filter: drop-shadow(2px 4px 6px black);
}
footer .css-i4bv87-MuiSvgIcon-root{
    transition: all 0.75s ease-out;
}
